{% extends "musicbeats/basic.html" %}
{% block title %}Songs{% endblock %}
{% block body %}
 <div class="container">
{% for i in song %}

<div class="card mb-3" style="max-width: 540px; padding-top:2%; padding-left:7%; text-align: center;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/media/{{i.image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">{{i.tags}}</p>
       <a href="/musicbeats/songs/{{i.song_id}}"><button class="btn btn-outline">Play</button></a>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
  </div>
{%endblock%}