{% extends "musicbeats/basic.html" %}
{% block title %}Songs{% endblock %}

{% block body %}

{% if cond %}
<script>
    Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: 'Your work has been saved',
        showConfirmButton: false,
        timer: 1500
    })
</script>
{% endif %}
<div class="container">
    <div class="row">
    
    </div>
    <div class="col-md-6" style ="padding-top:2%">
        <h2 style="padding-top:3%; color:green">Title: {{song.name}}</h2>
        <h2>Category: {{song.tags}}</h2>

        <h2 style="padding-top:3%; font-weight:550">Singer: {{song.singer}}</h2>
    </div>
    <div class="col-md-6" style ="padding-top:2%">
        <img src="/media/{{song.image}}" class="img-fluid rounded-start" alt="" height = "200px" width = "300px">
        <audio controls s tyle ="padding-top:3%;">
            <source src="{{ song.song.url }}" type="">
        </audio>
    <div style="padding-top:3%">
        <div>
    <form action="{% url 'watchlater' %}" method="POST">

        {%csrf_token%}
    
        <button type="submit">Add to Watchlater</button>
        <input type="hidden" name="tags" value="{{song.tags}}">
        </form>
    <a href="/media/{{song.song}}"><button class="btn btn-outline">Download</button></a>
    </div>   
    </div>
    </div>
</div>

{%endblock%}